<!DOCTYPE html>
<html lang="en">
	
<head>
    <title>Welcome to Cindy + Alex Studios</title>
</head>
	
<body>
    
    <div class="topnav" id="myTopnav">
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">Purchase</a>
        <a href="#">Login</a>
    </div>

    <header>
        <h1 align="center">Cindy + Alex Studios </h1>
    </header>
    
</body>