
<!DOCTYPE html>
<html lang="en">
	
<head>
    <title>Welcome to Cindy + Alex Studios</title>
</head>
	
<body>
    
    <div class="topnav" id="myTopnav">
        <a href="../welcome/index">Home</a>
        <a href="/products/show">Products</a>
        <a href="#">Purchase</a>
        <a href="#">Login</a>
    </div>
    
</body>